@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.bg-blue {
  background: #233a95;
}

@media (min-width: 1300px) {
  .container,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1200px;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Header */
.header-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.header-wrapper .top-strip {
  padding: 8px 0;
}
.header-wrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.header-wrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0;
}
.logo-wrapper img {
  width: 100%;
}

.header-wrapper .header .part2 .country-dropdown {
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px !important;
  padding: 10px 15px !important;
  text-align: left;
  justify-content: flex-start !important;
}
.header-wrapper .header .part2 .country-dropdown .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 20px;
}
.header-wrapper .header .part2 .country-dropdown .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}

.header-wrapper .header .part2 .country-dropdown span.ml-auto svg {
  opacity: 0.7;
}

.header-search {
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 10px;
  border-radius: 7px;
  position: relative;
}
.header-search input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 40px;
  border: 0px !important;
  padding: 0 20px !important;
}
.header-search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.header-search button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
}
.header-search button svg {
  font-size: 25px;
  color: #6f6f6f;
}

.part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}
.part3 .circle svg {
  font-size: 25px;
}

.cart-tab .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
.cart-tab button {
  background: #fff1ee !important;
}
.cart-tab button svg {
  color: #ea2b0f !important;
}
.cart-tab .count {
  position: absolute;
  top: -4px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

/* Country List Modal */
.location-modal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
  border-radius: 10px;
}
.location-modal .country-list {
  margin: 20px 0 0;
  max-height: 400px;
  overflow-y: scroll;
}
.location-modal .country-list li {
  width: 100%;
  list-style: none;
}
.location-modal .country-list li button {
  width: 100%;
  text-transform: capitalize;
  color: #000;
  justify-content: flex-start;
  padding: 10px;
}
.location-modal .country-list li button:hover {
  background: #f1f1f1 !important;
}
.location-modal .country-list li button.active {
  background: #e2e2e2 !important;
}
.location-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
}

/* Navigation */
nav .nav-part1 {
  max-width: 20%;
  flex: 0 0 20%;
}
nav .nav-part2 {
  max-width: 80%;
  flex: 0 0 80%;
}
nav .all-cat-tab {
  background: #2bbef9;
  padding: 10px 15px !important;
  border-radius: 30px !important;
}
nav .all-cat-tab * {
  color: #fff;
}
nav .all-cat-tab:hover {
  background: #2bbef9;
}
nav .all-cat-tab .text {
  font-weight: 600;
  padding-top: 4px;
}

nav .all-cat-tab .icon1 svg {
  font-size: 20px !important;
}
nav .all-cat-tab .icon2 svg {
  font-size: 15px !important;
}

nav .nav-part2 ul {
  margin-bottom: 0;
}
nav .nav-part2 ul li a {
  text-decoration: none;
}
nav .nav-part2 ul li a button {
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}
nav .nav-part2 ul li button:hover {
  background: #f0faff;
  color: #2bbef9;
}
nav .nav-part2 ul li a .arrow-icon {
  font-size: 12px;
}
nav .nav-part2 ul li a svg {
  margin-right: 5px;
  font-size: 20px;
}
